@page "/factures"

@using Facturation.Shared

@inject IBusinessData data;

<h1>Factures</h1>

<p>Liste des factures</p>

@if (data.Factures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Numéro de facture</th>
                <th>Nom du client</th>
                <th>Date d'émission</th>
                <th>Date de règlement attendue</th>
                <th>Montant total du</th>
                <th>Montant total réglé</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var facture in data.Factures)
            {
            <tr>
                <td>@facture.NumeroFacture</td>
                <td>@facture.NomClient</td>
                <td>@facture.DateEmission.ToString("dd MMMM yyyy")</td>
                <td>@facture.DateAttenduReglement.ToString("dd MMMM yyyy")</td>
                <td>@facture.MontantDu</td>
                <td>@facture.MontantRegle</td>
                <td><a href="facture/@facture.NumeroFacture"><span class="oi oi-external-link"></span></a></td>
            </tr>
            }
        </tbody>
    </table>
    <h3>@totalA</h3>
    <h3>@totalR</h3>
}

@code {
    private string totalA="";
    private string totalR="";
    protected override void OnInitialized() // = On Page Load
    {
        @*double totalAttendu = 0;
        double totalReel = 0;
        foreach (var facture in data.Factures)
        {
            if (facture.DateAttenduReglement.Year == DateTime.Today.Year && facture.DateAttenduReglement.Month == DateTime.Today.Month)
            {
                totalAttendu += facture.MontantDu;
                totalReel += facture.MontantRegle;
            }
        }
        totalA = "Total attendu pour "+DateTime.Today.ToString("MMMM")+":"+ totalAttendu.ToString();
        totalR = "Total réel pour " + DateTime.Today.ToString("MMMM") + ":" + totalReel.ToString();*@
    Tuple<double, double> tup = data.CalculerTotalAttenduEtReel(DateTime.Today.Month, DateTime.Today.Year);
    totalA = "Total attendu pour " + DateTime.Today.ToString("MMMM") + ":" + tup.Item1.ToString();
    totalR = "Total réel pour " + DateTime.Today.ToString("MMMM") + ":" + tup.Item2.ToString();

}

}